MetroFramework.Demo/obj
MetroFramework.Demo/bin
SyncDatabase/obj
SyncDatabase/bin
SyncScreenGateway/obj
SyncScreenGateway/bin
.vs\MetroFramework\v14\.suo
LPRAgent.Service/bin/
LPRAgent.Installer/obj/Debug/Product.wixobj
LPRAgent.Installer/obj/Debug/LPRAgent.Installer.wixproj.FileList.txt
LPRAgent.Installer/obj/Debug/LPRAgent.Installer.wixproj.BindOutputsFileListnull.txt
LPRAgent.Installer/obj/Debug/LPRAgent.Installer.wixproj.BindContentsFileListnull.txt
LPRAgent.Installer/obj/Debug/LPRAgent.Installer.wixproj.BindBuiltOutputsFileListnull.txt
LPRAgent.Installer/bin/Debug/cab6.cab
LPRAgent.Installer/bin/Debug/cab5.cab
LPRAgent.Installer/bin/Debug/cab4.cab
LPRAgent.Installer/bin/Debug/cab3.cab
LPRAgent.Installer/bin/Debug/cab2.cab
ECAS.Servicebus/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ECAS.Servicebus/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ECAS.Servicebus/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ECAS.Servicebus.Contracts/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ECAS.Servicebus.Contracts/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ECAS.Servicebus.Contracts/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ECAS-Toolkit/obj/Debug/ECAS-Toolkit.csproj.FileListAbsolute.txt
ECAS UTIL/obj/Debug/build.force
DataAccessLayer/obj/Debug/build.force
LPRAgent.Installer/bin/Debug/cab1.cab
LPRAgent.Installer/bin/Debug/LPRAgent.Installer.wixpdb
LPRAgent.Installer/bin/Debug/LPRAgent.Installer.msi
RabbitMQClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RabbitMQClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RabbitMQClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RabbitMQClient/obj/Debug/RabbitMQClient.csproj.FileListAbsolute.txt
RabbitMQClient/bin/Debug/RabbitMQClient.exe.config
RabbitMQClient/bin/Debug/RabbitMQ.Client.xml
RabbitMQClient/bin/Debug/Microsoft.Diagnostics.Tracing.EventSource.xml
LPRService/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LPRService/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LPRService/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LPRAgent.Service/obj/Release/build.force
LPRAgent.Service/obj/Release/LPRAgent.Service.csproj.FileListAbsolute.txt
LPRAgent.Service/obj/Debug/LPRAgent.Service.csproj.LPRAgent.Service.exe.config
LPRAgent.Service/obj/Debug/LPRAgent.Service.csproj.FileListAbsolute.txt
testuow/obj/Debug/build.force
ECAS.Servicebus.Configuration/obj/
ECAS.Servicebus.Consumers/obj/
ECAS.Servicebus.Producers/obj/
TestComPort/bin/
TestComPort/obj/
winformsComportTest/bin/
winformsComportTest/obj/
